output
/MACS2_out/
/InitializeSLURMenv.sh
/InitializeSLURMenvMACS2.sh
/InitializeSLURMenv.sh.orig
/InitializeSLURMenv_BACKUP_8020.sh
/InitializeSLURMenv_BASE_8020.sh
/InitializeSLURMenv_LOCAL_8020.sh
/InitializeSLURMenv_REMOTE_8020.sh
/outpath/
/.test_zargos_out.txt.swp
AbsolutelyEmpty.sh
/HISAT2_OUT/
/test_empty.fastq.sh
